<p id="notice"><%= notice %></p>

<h1>Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ci</th>
      <th>Company</th>
      <th>Email</th>
      <th>Direction</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Photo</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.name %></td>
        <td><%= visitor.ci %></td>
        <td><%= visitor.company_id %></td>
        <td><%= visitor.email %></td>
        <td><%= visitor.direction %></td>
        <td><%= visitor.gender_id %></td>
        <td><%= visitor.birthday %></td>
        <td><%= visitor.photo %></td>
        <td><%= visitor.signature %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor', new_visitor_path %>
