<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor.name %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @visitor.ci %>
</p>

<p>
  <strong>Company:</strong>
  <%= @visitor.company_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @visitor.direction %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @visitor.gender_id %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @visitor.birthday %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @visitor.photo %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @visitor.signature %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
