<div class="row">
  <div class="col-md-12">
  	<div class="table-responsive">
		  <table class="table table-bordered responsive" id="auditTable" width="100%" cellspacing="0">
		    <thead>
		      <tr>
		        <th>Actividad</th>
		        <th>Fecha Orden</th>
		        <th>Fecha</th>
		        <th>Usuario</th>
		        <th>Orden</th>
		        <th>Ip</th>
		      </tr>
		    </thead>
		    <tfoot>
		      <tr>
		        <th>Actividad</th>
		        <th>Fecha Orden</th>
		        <th>Fecha</th>
		        <th>Usuario</th>
		        <th>Orden</th>
		        <th>Ip</th>
		      </tr>
		    </tfoot>
		    <tbody>
		      <% entry.audits.each do |audit| %>
		        <tr>
		          <td><%= audit.action %></td>
		          <td><%= audit.created_at.to_i %></td>
		          <td><%= l(audit.created_at, format: @date_time_format_words) %></td>
		          <td><%= audit.user.present? ? audit.user.name : "Sin asignar" %></td>
		          <td><%= audit.entry.order_id %></td>
		          <td><%= audit.ip %></td>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		</div>
  </div>
</div>