<%= simple_form_for(entry, :url =>check_in_entry_path(entry), :method => "post" , :remote => true, input_html: {multipart: true}) do |form| %>
	<div class="row">
	  <div class="col-md-6">
	  	<button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-1" onclick="set_preview_id($(this));">
	      <i class="fas fa-camera fa-sm text-white-50"></i>
	      Fotografía Paciente
	    </button>

	    <div class="container-image" id="preview-snapshot-1">
	      <img src="/img/default.jpg">
	      <input type="hidden" class="file-snapshot-1" name="file-snapshot-1">
	    </div>
	  	<script type="text/javascript" src="/webcamjs/webcam.min.js"></script>

			<div class="modal fade webcam" id="snapshot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document" style="max-width: 50%; overflow: hidden;" id="camera-modal">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Capturar Fotografía</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body" id="camera-container" style="padding: 0px">
			        <div id="camera">
			        </div>
			        <div id="results">
			        </div>
			      </div>
			      <div class="modal-footer" style="text-align: center; display: block;">
			        <button type="button" id="btn-snapshot" class="btn btn-checkin btn-lg" onClick="run_snapshot(); return false;">Capturar Foto</button>
			        <button type="button" id="btn-resnapshot" class="btn btn-checkin btn-lg" onClick="openCamera(); return false;" style="display: none;">Intentar otra</button>
			        <button type="button" id="btn-close" class="btn btn-primary btn-lg" data-dismiss="modal" style="display: none;">Aceptar</button>
			      </div>
			    </div>
			  </div>
			</div>

	  	<div class="form-group numeric required search_order_order_id">
	  		<label class="text" for="note">Observación</label>
	  		<!-- <textarea class="form-control"  name="note" id="note"></textarea> -->
	  		<input type="text"class="form-control"  name="note" id="note">
	  	</div>
	  	<!-- <a href="<%= check_in_entry_path(entry)%>" class="btn btn-success btn-icon-split" data-remote="true" id="btn-check-in">
			  <span class="icon text-white-50">
			    <i class="fas fa-check"></i>
			  </span>
			  <span class="text">Verificar Paciente</span>
			</a> -->
			<%= form.submit "Verificar Paciente", class: 'btn btn-success btn-block' %>
	  </div>

	  <div class="col-md-6">
	  	<strong>Instruciones:</strong>
	  	<br />
	  	Para crear una verificación del paciente los campos <strong>fotografía</strong> y <strong>obervación</strong> son opcionales.
	  </div>
	</div>
<% end %>



<br/>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered responsive" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Verificado por</th>
            <th>Fotografía</th>
            <th>Notas</th>
          </tr>
        </thead>
        <tfoot style="display: none;">
          <tr>
            <th>Fecha</th>
            <th>Verificado por</th>
            <th>Fotografía</th>
            <th>Notas</th>
          </tr>
        </tfoot>
        <tbody>
        	<% if @entry.check_ins.any? %>
	        	<% @entry.check_ins.order(check_in_at: :desc).each do |check_in| %>
		          <tr>
		            <td><%= l(check_in.check_in_at, format: @date_time_format_words) %></td>
		            <td><%= check_in.check_in_by.name %></td>
		            <td align="center">
		            	<% if check_in.photo_check_ins.any? %> 
			            	<img src="<%= check_in.photo_check_ins.last.photo.url %>" width="60"><br/>
			            	<%= link_to("Ver fotografía", check_in.photo_check_ins.last.photo.url(:zoom), :target => "_blank") %>
		            	<% end %>	
		            </td>
		            <td><%= check_in.note.present? ? check_in.note : "Sin observación" %></td>
		          </tr>
		        <% end %>
		      <% else %>
			    	<tr>
			        <td colspan="3">No se encontraron resultados</td>
			       </tr>
			    <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>



<script type="text/javascript">
	original_url = $("#btn-check-in").attr("href");
	console.log("asdasdsa");
	console.log($("#note").val());
	$( "#note" ).keyup(function() {
		url = original_url;
		if ($("#note").val() != ""){
			url = url + "?note=" + $("#note").val();	
		}
		console.log(url);
		$("#btn-check-in").attr("href", url);

	});
</script>

