<div class="row">
  <div class="col-md-12">
    <div class="my-4"></div>
    <!--  <%= order.inspect %> -->
    <% if created_entry.present? && !entry.new_record? && false %>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered responsive" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Orden</th>
                  <th>Fecha</th>
                  <th>Documento</th>
                  <th>Nombres</th>
                  <th>Edad</th>
                  <th>Origen</th>
                  <th>Servicio</th>
                </tr>
              </thead>
              <tfoot style="display: none;">
                <tr>
                  <th>Fecha</th>
                  <th>Fecha</th>
                  <th>Documento</th>
                  <th>Nombres</th>
                  <th>Edad</th>
                  <th>Origen</th>
                  <th>Servicio</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td align="center"><%= entry.order_id %></td>
                  <td><%= l(entry.created_at, format: @date_format_words) %></td>
                  <td><%= entry.pacient.identification %></td>
                  <td><%= entry.pacient.full_name %></td>
                  <td align="center"><%= entry.pacient.age %></td>
                  <td><%= entry.origin.name %></td>
                  <td><%= entry.service.name %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= simple_form_for(entry, input_html: {multipart: true}) do |form| %>
        <div style="display: none;">
          <%= form.input :description %>
          <%= form.input :order_id %>
          <%= form.input :origin_id %>
          <%= form.input :pacient_id %>
          <%= form.input :service_id %>  
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-1" onclick="set_preview_id($(this));">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Fotografía Paciente
            </button>
            <div class="container-image" id="preview-snapshot-1">
              <img src="/img/default.jpg">
              <input type="hidden" class="file-snapshot-1" name="file-snapshot-1">
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-2" onclick="set_preview_id($(this));">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Fotografía Documento
            </button>
            <div class="container-image" id="preview-snapshot-2">
              <img src="/img/default.jpg">
              <input type="hidden" class="file-snapshot-2" name="file-snapshot-2">
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-3" onclick="set_preview_id($(this));">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Fotografía Pedido
            </button>
            <div class="container-image" id="preview-snapshot-3">
              <img src="/img/default.jpg">
              <input type="hidden" class="file-snapshot-3" name="file-snapshot-3">
            </div>
          </div>
        </div>
        <div class="my-4"></div>
        <div class="row">
          <div class="col-md-12">
            <%= form.submit "Guardar", class: 'btn btn-success btn-block' %>
          </div>
        </div>
      <% end %>


    <% end %>

    <% if created_entry.present? %>
      <code id="error_order" style="text-align: center; width: 100%; display: block;">
        La orden ya registra un ingreso
        <%= link_to "Ver ingreso", created_entry %>
      </code>

    <% elsif order && entry.present? %>
      <div class="table-responsive">
        <table class="table table-bordered responsive" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Orden</th>
              <th>Fecha</th>
              <th>Documento</th>
              <th>Nombres</th>
              <th>Edad</th>
              <th>Origen</th>
              <th>Servicio</th>
            </tr>
          </thead>
          <tfoot style="display: none;">
            <tr>
              <th>Orden</th>
              <th>Fecha</th>
              <th>Documento</th>
              <th>Nombres</th>
              <th>Edad</th>
              <th>Origen</th>
              <th>Servicio</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td align="center"><%= order.nro_ord.to_i %></td>
              <td><%= l(order.fec_ord.to_date, format: @date_format_words)  %></td>
              <td><%= order.doc_pac %></td>
              <td><%= "#{order.nom_pac} #{order.nom_pac2} #{order.ape_pac} #{order.apm_pac}" %></td>
              <td align="center"><%= get_age(order.fna_pac) %></td>
              <td><%= order.des_ori %></td>
              <td><%= order.des_ser %></td>
            </tr>
          </tbody>
        </table>
        <% if order.sin_pac.present? %>
          <p>
            <label>Descipción NEXTLAB:</label>
            <%= order.sin_pac %>
          </p>
        <% end %>
      </div>

      <%= simple_form_for(entry, input_html: {multipart: true}) do |form| %>
        <div class="row" style="display: none;">
          <div class="col-md-12">
            <%= form.fields_for :pacient, :wrapper => false do |pacient_form| %>
              <%= pacient_form.input :identification %> 
              <%= pacient_form.input :type_identification %> 
              <%= pacient_form.input :name_1 %> 
              <%= pacient_form.input :name_2 %> 
              <%= pacient_form.input :last_name_1 %> 
              <%= pacient_form.input :last_name_2 %> 
              <%= pacient_form.input :birthday %> 
              <%= pacient_form.input :gender %> 
              <%= pacient_form.input :email %> 
              <%= pacient_form.input :phone %> 
              <%= pacient_form.input :sql_id %>
            <% end %>
          </div>
          <div class="col-md-12">
            <%= form.fields_for :origin, :wrapper => false do |origin_form| %>
              <%= origin_form.input :name %>
              <%= origin_form.input :sql_id %>
            <% end %>
          </div>
          <div class="col-md-12">
            <%= form.fields_for :service, :wrapper => false do |service_form| %>
              <%= service_form.input :name %> 
              <%= service_form.input :sql_id %>
            <% end %>

          </div>
          <div class="col-md-12">
            <%= form.input :description %>
            <%= form.input :order_id %>
            <%= form.input :origin_id %>
            <%= form.input :pacient_id %>
            <%= form.input :service_id %>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-4">
            <button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-1" onclick="set_preview_id($(this));">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Fotografía Paciente
            </button>
            <div class="container-image" id="preview-snapshot-1">
              <img src="/img/default.jpg">
              <input type="hidden" class="file-snapshot-1" name="file-snapshot-1">
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-2" onclick="set_preview_id($(this));">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Fotografía Documento
            </button>
            <div class="container-image" id="preview-snapshot-2">
              <img src="/img/default.jpg">
              <input type="hidden" class="file-snapshot-2" name="file-snapshot-2">
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn-block btn btn-sm btn-primary shadow-sm take-photo" data-toggle="modal" data-target="#snapshot" id="snapshot-3" onclick="set_preview_id($(this));">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Fotografía Pedido
            </button>
            <div class="container-image" id="preview-snapshot-3">
              <img src="/img/default.jpg">
              <input type="hidden" class="file-snapshot-3" name="file-snapshot-3">
            </div>
          </div>
        </div>
        <div class="my-4"></div>
        <div class="row">
          <div class="col-md-12">
            <%= form.submit "Guardar", class: 'btn btn-success btn-block' %>
          </div>
        </div>
      <% end %> 

    <% end %>
    <% if error_order.present? %>
      <code id="error_order" style="text-align: center; width: 100%; display: block;"><%= error_order %></code>
    <% end %>
  </div>
</div>




