<div class="table-responsive">
  <table class="table table-bordered responsive" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Orden</th>
        <th>Fecha number</th>
        <th>Fecha</th>
        <th>Documento</th>
        <th>Nombres</th>
        <th>Edad</th>
        <th>Origen</th>
        <th>Servicio</th>
        <th>Verf.</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Orden</th>
        <th>Fecha number</th>
        <th>Fecha</th>
        <th>Documento</th>
        <th>Nombres</th>
        <th>Edad</th>
        <th>Origen</th>
        <th>Servicio</th>
        <th>Verf.</th>
        <th>Acciones</th>
      </tr>
    </tfoot>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <td align="center"><%= link_to entry.order_id, entry %></td>
          <td><%= entry.created_at.to_i %></td>
          <td><%= l(entry.created_at, format: @date_time_format_words) %></td>
          <td><%= entry.pacient.identification %></td>
          <td><%= entry.pacient.full_name %></td>
          <td align="center"><%= entry.pacient.age %></td>
          <td><%= entry.origin.name %></td>
          <td><%= entry.service.name %></td>
          <td align="center" valign="middle">
            <%= entry.check_in ? "<i class='fas fa-2x fa-check-circle check-entry'></i>".html_safe : "" %>
          </td>
          <td align="center">
            <!-- <button type="button" class="btn-block btn btn-sm btn-info shadow-sm" data-toggle="modal" data-target="#photos" id="photos-1">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Ver
            </button> -->

            <a href="<%= get_photos_entry_path(entry)%>" class="btn-block btn btn-sm btn-info shadow-sm" data-remote="true" id="btn-check-in">
              <i class="fas fa-camera fa-sm text-white-50"></i>
              Ver
            </a>

            <a href="<%= get_audits_entry_path(entry)%>" class="btn-block btn btn-sm btn-primary shadow-sm" data-remote="true" id="btn-check-in">
              <i class="fas fa-list-alt fa-sm text-white-50"></i>
              Ver
            </a>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="modal fade" id="photos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fotografías</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="photos-entries">

      </div>
      <div class="modal-footer" style="text-align: center; display: block;">
        <button type="button" id="btn-close" class="btn btn-primary btn-lg" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="audits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de actividades</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="audit-entries">

      </div>
      <div class="modal-footer" style="text-align: center; display: block;">
        <button type="button" id="btn-close" class="btn btn-primary btn-lg" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>