<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= simple_form_for(:search_order, url: "/search_order", remote: true, method: :get, html: { id: "load_order" }) do |f| %>
      <%= f.input :order_id, as: :numeric, :label => "Nro Orden NEXTLAB", autofocus: true %>
      <div class="row">
        <div class="col-md-6">
          <%= button_tag type: 'submit', id: "send_load_order", :class => 'btn btn-secondary btn-block', autocomplete: "off", data: { disable_with: "Buscando..."} do %>
            <i class="fas fa-search fa-sm text-white-50"></i> Buscar
          <% end %>
        </div>
        <div class="col-md-6">
          <%= f.button :button, '<i class="fas fa-eraser fa-sm text-white-50"></i> Limpiar'.html_safe, id: "reset_load_order", :type => 'reset', :class => 'btn btn-secondary btn-block' %>
        </div>
      </div>
    <% end %>  
  </div>
  <div class="col-md-4">
  </div>
</div>

<div id="entry_form">
</div>  


<script type="text/javascript" src="/webcamjs/webcam.min.js"></script>

<div class="modal fade webcam" id="snapshot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 50%; overflow: hidden;" id="camera-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Capturar Fotografia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="camera-container" style="padding: 0px">
        <div id="camera">
        </div>
        <div id="results">
        </div>
      </div>
      <div class="modal-footer" style="text-align: center; display: block;">
        <button type="button" id="btn-snapshot" class="btn btn-checkin btn-lg" onClick="run_snapshot(); return false;">Capturar Foto</button>
        <button type="button" id="btn-resnapshot" class="btn btn-checkin btn-lg" onClick="openCamera(); return false;" style="display: none;">Intentar otra</button>
        <button type="button" id="btn-close" class="btn btn-primary btn-lg" data-dismiss="modal" style="display: none;">Aceptar</button>
      </div>
    </div>
  </div>
</div>



