<div class="row">
  <% photo_titles = ["Fotografía Paciente", "Fotografía Documento", "Fotografía Pedido"] %>
  <% i = 0 %>
  <% entry.photo_entries.each do |photo_entry| %>
    <div class="col-md-4" style="text-align: center;">
      <div class="px-3 py-1 bg-gradient-primary text-white">
        <%= photo_titles[photo_entry.order - 1] %>  
      </div>
      <div class="container-image" id="preview-snapshot-3">
        <img src="<%= photo_entry.photo.url(:zoom) %>" style="width: auto; height: 100%">
      </div>
    </div>
    <% i = i + 1 %>
  <% end %>
</div>