<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Zoom Next Visualización de Ingreso de Pacientes</h1>
  </div>
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Filtros de Busqueda</h6>
    </div>
    <div class="card-body">
      <%= simple_form_for(:search, url: entries_path, remote: true, method: :get, html: { id: "load_entries" }) do |f| %>
        <div class="row">
          
          <div class="col-md-3">
            <label for="filter_name">Orden</label>
            <%= f.input :order_id, label: false, autofocus: true, input_html: {value: params[:search].present? ? params[:search][:order_id] : ""} %>
          </div>

          <div class="col-md-3">
            <label for="filter_name">Documento</label>
            <%= f.input :document, label: false %>
          </div>

          <div class="col-md-6">
            <label for="filter_name">Nombres y Apellidos</label>
            <%= f.input :name, label: false %>
          </div>

          <div class="col-md-3">
            <label for="filter_name">Desde</label>
            <%= f.input :from, label: false, input_html: {class: 'date-selector'} %>
          </div>

          <div class="col-md-3">
            <label for="filter_name">Hasta</label>
            <%= f.input :to, label: false, input_html: {class: 'date-selector'} %>
          </div>


          <div class="col-md-3">
            <label for="filter_buckets">Origen</label><br>
            <%= f.input :origin_id, collection: @origins, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-3">
            
            <label for="filter_name">Servicio</label>
            <%= f.input :service_id, collection: @services, label: false, label_method: lambda { |p| "#{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
            
          </div>

          <div class="col-md-6" style="text-align: left;">
            <a href="#" class="btn btn-info btn-icon-split" id="today">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Hoy</span>
            </a>
            <a href="#" class="btn btn-info btn-icon-split" id="week">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Semana</span>
            </a>
        
            <a href="#" class="btn btn-info btn-icon-split" id="month">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Mes</span>
            </a>
          </div>

          <div class="col-md-6" style="text-align: right;">
            <div id="records_spinner" class="is-loading is-loading-lg" style="display: none;">Loading content</div>
            <a href="#" class="btn btn-secondary btn-icon-split" id="search">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Buscar</span>
            </a>
            <%= f.button :button, '<span class="icon text-white-50"><i class="fas fa-check"></i></span><span class="text">Limpiar</span>'.html_safe, :type => 'reset', :class => 'btn btn-secondary btn-icon-split' %>
            <%= f.submit "Send", id: "send_load_records", style: "display:none;" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Ingresos</h6>
    </div>
    <div class="card-body">
      
      <div id="container-entries">
        <code id="error_order" style="text-align: center; width: 100%; display: block;">Selecione filtros de Búsqueda</code>
      </div>

    </div>
  </div>

</div>

