<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Zoom Next Visualización de Ingreso de Pacientes</h1>
  </div>
  <!-- Page Heading -->

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Información del Ingreso</h6>
    </div>
    <div class="card-body">
      

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered responsive" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Orden</th>
                  <th>Fecha</th>
                  <th>Documento</th>
                  <th>Nombres</th>
                  <th>Edad</th>
                  <th>Origen</th>
                  <th>Servicio</th>
                </tr>
              </thead>
              <tfoot style="display: none;">
                <tr>
                  <th>Fecha</th>
                  <th>Fecha</th>
                  <th>Documento</th>
                  <th>Nombres</th>
                  <th>Edad</th>
                  <th>Origen</th>
                  <th>Servicio</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td align="center"><%= @entry.order_id %></td>
                  <td><%= l(@entry.created_at, format: @date_format_words) %></td>
                  <td><%= @entry.pacient.identification %></td>
                  <td><%= @entry.pacient.full_name %></td>
                  <td align="center"><%= @entry.pacient.age %></td>
                  <td><%= @entry.origin.name %></td>
                  <td><%= @entry.service.name %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <% if @entry.description.present? %>
        <p>
          <label>Descipción NEXTLAB:</label>
          <%= @entry.description %>
        </p>
      <% end %>


      <div class="row">
        <% photo_titles = ["Fotografía Paciente", "Fotografía Documento", "Fotografía Pedido"] %>
        <% i = 0 %>
        <% @entry.photo_entries.each do |photo_entry| %>
          <div class="col-md-4" style="text-align: center;">
            <div class="px-3 py-1 bg-gradient-primary text-white">
              <%= photo_titles[photo_entry.order - 1] %>  
            </div>
            <div class="container-image" id="preview-snapshot-3">
              <img src="<%= photo_entry.photo.url(:zoom) %>" style="height: 200px;">
            </div>
          </div>
          <% i = i + 1 %>
        <% end %>
      </div>
      <div class="my-4"></div>
    </div>
  </div>

  <% if @current_user.has_role?(:supervisor) || @current_user.has_role?(:admin) %>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Verificación del Ingreso</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
          
            <div id="check-container">
              <%= render partial: 'check_in_status', locals: { entry: @entry} %>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

