<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row home-content no-gutters">
            <div class="col-lg-6 bg-home-image" id="bg-home-image">
              
              <div class="photo-container" id="photo-container"> 
              </div>
            </div>
            <div class="col-lg-6" id="bg-home-buttons">
              <div class="p-4">
                <div class="text-center">
                  <img class="logo-home" src="/img/ecua-american-logo.png" style="width: 75%">
                </div>
                <div class="step-1">
                  <div class="text-center">
                    <h1 class="h5 text-gray-900 mb-2">Bienvenido <%= l(Time.now, format: @date_format_words) %></h1>
                    <!-- <p class="mb-2">
                      <h2 class="h5 text-gray-900 mb-2">
                        
                      </h2>
                    </p> -->
                  </div>

                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-inputs">

                      <%= f.input :login,
                                  required: false,
                                  autofocus: true,
                                  :label_html => {:class => "text-label"},
                                  input_html: { autocomplete: "login"}  %>

                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" } %>

                      <%= f.input :station_name, collection: @stations, include_blank: false, include_hidden: false, input_html: {class: 'select_2'} %>
                      <!--                                   
                      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "Iniciar sesión", :class => "btn btn-block btn-primary" %>
                    </div>
                  <% end %>


                  <!-- <a href="#" class="btn btn-block btn-checkin btn-lg" id="btn-checkin">
                    Registrar Entrada
                  </a>
                  <a href="#" class="btn btn-block btn-checkout btn-lg" id="btn-checkout">
                    Registar Salida
                  </a>
                  <a href="#" class="btn btn-block btn-checkin btn-lg" id="btn-checkcancel">
                    Cancelar
                  </a> -->
                  
                  <hr>
                  <!-- 
                  <%= render "users/shared/links" %> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





