<p id="notice"><%= notice %></p>

<h1>Photo Check Ins</h1>

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th>Check in</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_check_ins.each do |photo_check_in| %>
      <tr>
        <td><%= photo_check_in.entry_id %></td>
        <td><%= photo_check_in.check_in_id %></td>
        <td><%= photo_check_in.photo %></td>
        <td><%= link_to 'Show', photo_check_in %></td>
        <td><%= link_to 'Edit', edit_photo_check_in_path(photo_check_in) %></td>
        <td><%= link_to 'Destroy', photo_check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo Check In', new_photo_check_in_path %>
