<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @photo_check_in.entry_id %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @photo_check_in.check_in_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @photo_check_in.photo %>
</p>

<%= link_to 'Edit', edit_photo_check_in_path(@photo_check_in) %> |
<%= link_to 'Back', photo_check_ins_path %>
