<%= form_with(model: photo_entry, local: true) do |form| %>
  <% if photo_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_entry.errors.count, "error") %> prohibited this photo_entry from being saved:</h2>

      <ul>
      <% photo_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :entry_id %>
    <%= form.number_field :entry_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
