<p id="notice"><%= notice %></p>

<h1>Photo Entries</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_entries.each do |photo_entry| %>
      <tr>
        <td><%= photo_entry.photo %></td>
        <td><%= photo_entry.entry_id %></td>
        <td><%= link_to 'Show', photo_entry %></td>
        <td><%= link_to 'Edit', edit_photo_entry_path(photo_entry) %></td>
        <td><%= link_to 'Destroy', photo_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo Entry', new_photo_entry_path %>
