<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @photo_entry.photo %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @photo_entry.entry_id %>
</p>

<%= link_to 'Edit', edit_photo_entry_path(@photo_entry) %> |
<%= link_to 'Back', photo_entries_path %>
