
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for(@user) do |f| %>
      <div class="row">
	      <div class="col-md-6">
	        <%= f.input :login %>
	      </div>
	      <div class="col-md-6">
	      	<div style="padding-bottom: 10px;position: relative;">
	      		<%= f.label user.new_record? ? "Nueva contraseña" : "Editar contraseña?" %>
		        <span class="change_password"><%= check_box_tag("change_password") %></span>
		        <% if user.new_record? %> 
			        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
			      <% else %> 
			        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :disabled => true %>
			      <% end %> 	
	      	</div>
	      </div>
	      <div class="col-md-12">
	        <%= f.input :name %>    
	      </div>
	      <div class="col-md-12">
	        <%= f.input :email %>
	      </div>

	      
		      <div class="col-md-12">
		        <%= f.input :role_ids, collection: @all_roles, label_method: lambda { |p| "#{p.role_name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
		      </div>
		    
				<div class="col-md-12">
	        <%= f.input :active %>
	      </div>

	      <input type="hidden" name="url" id="url" value="">

	    </div>	   
      <div class="row">
        <div class="col-md-12">
        	<div class="actions">
	          <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
	      		<%= f.submit "Guardar", class: 'btn btn-success' %>
	      	</div>
        </div>
      </div>
    <% end %>  
  </div>
</div>
