<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Zoom Next Visualización de Usuarios</h1>
    <a href="<%= new_user_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Nuevo usuario</a>

  </div>
  <!-- Page Heading -->

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Información del Ingreso</h6>
    </div>
    <div class="card-body">
      

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered responsive" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre completo</th>
                  <th>Correo electrónico</th>
                  <th>Estación</th>
                  <th>Creado en</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre completo</th>
                  <th>Correo electrónico</th>
                  <th>Estación</th>
                  <th>Creado en</th>
                </tr>
              </tfoot>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= link_to user.login, user %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.station_name.present? ? user.station_name : "No conectado" %></td>
                    <td><%= l(user.created_at, format: @date_time_format_words) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  lng = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },
    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
  }
  $('#dataTable').DataTable({
    searching: false,
    "order": [[ 1, "desc" ]],
    "columnDefs": [
        {
          "targets": [ 1 ],
          "visible": false
        },
    ],
    "language": lng
  });
</script>

