<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Zoom Next - Usuarios</h1>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Datos del Usuario</h6>
    </div>
    <div class="card-body">
    	<p>
    		<label>Usuario:</label>
    		<%= @user.login%>
    	</p>
    	<p>
    		<label>Nombre:</label>
    		<%= @user.name %>
    	</p>
    	<p>
    		<label>Correo Electrónico:</label>
    		<%= @user.email %>
    	</p>
    	<p>
    		<label>Estación:</label>
    		<%= @user.station_name.present? ? @user.station_name : "No conectado" %>
    	</p>
    	<p>
    		<label>Creado en:</label>
    		<%= l(@user.created_at, format: @date_time_format_words) %>
    	</p>
    	<%= link_to 'Editar', edit_user_path(@user) %>
    </div>
    
  </div>
</div>


