<p id="notice"><%= notice %></p>

<h1>Check Ins</h1>

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th>Check in by</th>
      <th>Check in at</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_ins.each do |check_in| %>
      <tr>
        <td><%= check_in.entry_id %></td>
        <td><%= check_in.check_in_by_id %></td>
        <td><%= check_in.check_in_at %></td>
        <td><%= check_in.note %></td>
        <td><%= link_to 'Show', check_in %></td>
        <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td>
        <td><%= link_to 'Destroy', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check In', new_check_in_path %>
