<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @check_in.entry_id %>
</p>

<p>
  <strong>Check in by:</strong>
  <%= @check_in.check_in_by_id %>
</p>

<p>
  <strong>Check in at:</strong>
  <%= @check_in.check_in_at %>
</p>

<p>
  <strong>Note:</strong>
  <%= @check_in.note %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
