<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row home-content no-gutters">
            <div class="col-lg-7 bg-home-image" id="bg-home-image">
            	
            	<div class="photo-container" id="photo-container"> 
          			<div id="camera">
          			</div>
          			<div id="results"></div>	

          			<div class="card o-hidden border-0 shadow-lg my-5" id="finished-card">
	                <div class="card-header py-3">
	                  <h6 class="m-0 font-weight-bold text-primary">Registro completo</h6>
	                </div>
	                <div class="card-body">
	                	<div id="photo-snapshot"></div>
	                	<div id="info-snapshot">
	                		<div id="name">
	                			Marcelo Toapanta	
	                		</div>
	                		<div id="date">
	                			Lunes 20 de Febrero, 15:00:00
	                		</div>
	                		
	                	</div>
	                </div>
	                <div class="clear"></div>
	              </div>
          		</div>
          		
          		<div class="row">
          			<div class="col-lg-12" style="text-align: center;">
          				<a href="#" class="btn btn-checkin btn-lg btn-webcam" id="btn-snapshot" onClick="take_snapshot()">
		                Capturar Foto
		              </a>
		              <a href="#" class="btn btn-checkin btn-lg btn-webcam" id="btn-show-cam">
		                Intentar otra
		              </a>
		              <a href="#" class="btn btn-checkin btn-lg btn-webcam" id="btn-snapshot-ok">
		                Aceptar
		              </a>
          			</div>
          			
	            </div>
              

            </div>
            <div class="col-lg-5" id="bg-home-buttons">
              <div class="p-5">
              	<div class="text-center">
              		<img class="logo-home" src="/img/ecua-american-logo.png">
              	</div>

              	<div class="step-1">
              		<div class="text-center">
              			<br/>
	                  <h1 class="h2 text-gray-900 mb-2">Bienvenido</h1>
	                  <p class="mb-4">
	                  	<h2 class="h3 text-gray-900 mb-2">
	                  		<%= l(@current_date, format: @date_format_words) %>
	                  	</h2>
	                  </p>
	                </div>
	                <a href="#" class="btn btn-block btn-checkin btn-lg" id="btn-checkin">
	                  Registrar Entrada
	                </a>
	               	<a href="#" class="btn btn-block btn-checkout btn-lg" id="btn-checkout">
	                  Registar Salida
	                </a>
	                <a href="#" class="btn btn-block btn-checkin btn-lg" id="btn-checkcancel">
	                  Cancelar
	                </a>
	                <hr>
	                <div class="text-center">
	                  <a class="small" href="register.html">Create an Account!</a>
	                </div>
	                <div class="text-center">
	                  <a class="small" href="login.html">Already have an account? Login!</a>
	                </div>	
              	</div>

              	<div class="step-2">
              		
	                
              	</div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="webcamjs/webcam.min.js"></script>

<script language="JavaScript">
	var total = 4000;
  var counter = 0;
  var counterdown = total / 1000;
  var myInterval = null;

	function take_snapshot() {
		myInterval = setInterval(function () {
	    ++counter;
	    --counterdown;
	    seg = total / 1000;
	    procentage = (counter * 100) / seg;
	    // $(".progress-bar").css("width", procentage + "%");
	    $("#btn-snapshot").html("Capturar Foto: " + counterdown);
	    console.log(total);
	    console.log(counter);
	    if (seg == counter){
	    	run_snapshot();	
	    	clearInterval(myInterval);
	    	$("#btn-snapshot").hide();
	    	$("#btn-show-cam").show();
	    	$("#btn-snapshot-ok").show();
	    	$("#btn-snapshot").html("Capturar Foto");
	    	counter = 0;
	    	counterdown = total / 1000;
	    }
	  }, 1000);	
	}

	// preload shutter audio clip
  var shutter = new Audio();
  shutter.autoplay = true;
  shutter.src = navigator.userAgent.match(/Firefox/) ? 'webcamjs/shutter.ogg' : 'webcamjs/shutter.mp3';


  function run_snapshot(){
  	// play sound effect
     shutter.play();
  	// take snapshot and get image data
		Webcam.snap( function(data_uri) {
			// display results in page
			document.getElementById('results').innerHTML = 
				'<img src="'+data_uri+'"/>';
			document.getElementById('photo-snapshot').innerHTML = 
				'<img src="'+data_uri+'"/>';
				
		} );
		$("#camera").hide();
		$("#results").show();
		clearInterval(myInterval);
  }


</script>


<script type="text/javascript">
	var width = 0;
	$( document ).ready(function() {
		setInitView();
		$( "#btn-checkout" ).click(function() {
			alert("====>>>>")
		});

		$("#btn-checkin").click(function() {
    	setCamera();
    	openCamera();
		});

		$( "#btn-show-cam" ).click(function() {
			clearInterval(myInterval);
			$("#camera").show();
			$("#results").hide();
			$("#btn-snapshot").show();
    	$("#btn-show-cam").hide();
    	$("#btn-snapshot-ok").hide();
		});

		$("#btn-checkcancel").click(function() {
    	setInitView();
		});

		$("#btn-snapshot-ok").click(function() {
    	$("#bg-home-image").addClass("finished-check");
    	$("#bg-home-image").removeClass("with-video");
    	$("#camera").hide();
			$("#results").hide();
			$("#finished-card").show();
		});

		function setInitView(){
			width = $("#bg-home-image").width();
			$("#camera").hide();
			$("#results").hide();
			$("#btn-show-cam").hide();
			$("#btn-checkcancel").hide();
		  $("#btn-snapshot-ok").hide();
		  $("#btn-checkin").show();
			$("#btn-checkout").show();
			$("#bg-home-image").removeClass("with-video");
			$("#bg-home-image").removeClass("finished-check");
			$("#finished-card").hide();
			
		}

		function openCamera(){
			$("#camera").show();
			$("#bg-home-image").addClass("with-video");
			$("#btn-checkcancel").show();
			$("#btn-checkin").hide();
			$("#btn-checkout").hide();
			$("#btn-snapshot").show();
		}

		function setCamera(){
			Webcam.set({
				width: width ,
				height: width / 1.333333333,
				image_format: 'jpeg',
				jpeg_quality: 90
			});
			Webcam.attach( '#camera' );
		}

  });
</script>
