<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @audit.user_id %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @audit.entry_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @audit.ip %>
</p>

<p>
  <strong>Action:</strong>
  <%= @audit.action %>
</p>

<p>
  <strong>Date:</strong>
  <%= @audit.date %>
</p>

<%= link_to 'Edit', edit_audit_path(@audit) %> |
<%= link_to 'Back', audits_path %>
