<%= form_with(model: pacient, local: true) do |form| %>
  <% if pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pacient.errors.count, "error") %> prohibited this pacient from being saved:</h2>

      <ul>
      <% pacient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identification %>
    <%= form.text_field :identification %>
  </div>

  <div class="field">
    <%= form.label :type_identification %>
    <%= form.text_field :type_identification %>
  </div>

  <div class="field">
    <%= form.label :name_1 %>
    <%= form.text_field :name_1 %>
  </div>

  <div class="field">
    <%= form.label :name_2 %>
    <%= form.text_field :name_2 %>
  </div>

  <div class="field">
    <%= form.label :last_name_1 %>
    <%= form.text_field :last_name_1 %>
  </div>

  <div class="field">
    <%= form.label :last_name_2 %>
    <%= form.text_field :last_name_2 %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.datetime_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
