<p id="notice"><%= notice %></p>

<h1>Pacients</h1>

<table>
  <thead>
    <tr>
      <th>Identification</th>
      <th>Type identification</th>
      <th>Name 1</th>
      <th>Name 2</th>
      <th>Last name 1</th>
      <th>Last name 2</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Description</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacients.each do |pacient| %>
      <tr>
        <td><%= pacient.identification %></td>
        <td><%= pacient.type_identification %></td>
        <td><%= pacient.name_1 %></td>
        <td><%= pacient.name_2 %></td>
        <td><%= pacient.last_name_1 %></td>
        <td><%= pacient.last_name_2 %></td>
        <td><%= pacient.birthday %></td>
        <td><%= pacient.gender %></td>
        <td><%= pacient.email %></td>
        <td><%= pacient.phone %></td>
        <td><%= pacient.description %></td>
        <td><%= pacient.position %></td>
        <td><%= link_to 'Show', pacient %></td>
        <td><%= link_to 'Edit', edit_pacient_path(pacient) %></td>
        <td><%= link_to 'Destroy', pacient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pacient', new_pacient_path %>
