<p id="notice"><%= notice %></p>

<p>
  <strong>Identification:</strong>
  <%= @pacient.identification %>
</p>

<p>
  <strong>Type identification:</strong>
  <%= @pacient.type_identification %>
</p>

<p>
  <strong>Name 1:</strong>
  <%= @pacient.name_1 %>
</p>

<p>
  <strong>Name 2:</strong>
  <%= @pacient.name_2 %>
</p>

<p>
  <strong>Last name 1:</strong>
  <%= @pacient.last_name_1 %>
</p>

<p>
  <strong>Last name 2:</strong>
  <%= @pacient.last_name_2 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pacient.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pacient.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pacient.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @pacient.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pacient.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @pacient.position %>
</p>

<%= link_to 'Edit', edit_pacient_path(@pacient) %> |
<%= link_to 'Back', pacients_path %>
