.home-page{
	// background-color: #00a4b9;
	// background-color: rgb(1, 147, 166);
	background-color: #005a66;
	background-image: url("/img/fondo-home.png");
	background-repeat: repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
  vertical-align: middle;
  display: table-cell;
  .home-content{
  	height: 70vh;
  }
  

}
.logo-home{
	width: 100%;
	transition: width 0.2s, height 2s, transform 2s;
	&.dock{
		width: 40%;
	}
}

.btn-checkin, #bg-home-image, #results, #camera{
	transition: width 0.5s, height 0.5s, linear 0.5s, transform 0.5s, display 0.5s;
}

#bg-home-buttons, #bg-home-image{
	// transition: width 2s, height 2s, linear 1s, transform 2s;
}

#photo-snapshot{
	position: absolute;
	width: 100%;
	height: auto;
	float: left;
	img{
		width: 33%;
		height: auto;
	}
}
#info-snapshot{
	position: absolute;
	float: left;
  margin-left: 35%;
}
	
.bg-home-image{
	background-image: url("/img/fondo-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 0px;
	.btn-webcam{
		display: none;
	}
	#finished-card{
		display: none;
	}
	&.with-video{
		background: #000;
		overflow: hidden;
		.btn-webcam{
			display: inline-block;
		}
	}
	&.finished-check{
		background: #fff;
		overflow: hidden;
		#finished-card{
			display: none;
		}
	}
}
.btn-checkin{
	color: #fff !important;
  background-color: #36b9cc !important;
  border-color: #36b9cc !important;
}
.btn-checkout{
	color: #36b9cc !important;
  background-color: #fff !important;
  border-color: #36b9cc !important;
}

.photo-container{
	width: 100%;
	height: 60vh;
}

.container-image{
	// background: url("/img/default.jpg");
	height: 200px;
  border: 1px solid #e3e6f0;
  overflow: hidden;
  text-align: center;
  img{
  	height: 100%;
    margin: 0 auto;
  }
}
#camera{
	margin: 0px auto;
}
#results{
	text-align: center;
}
.check-entry{
	color: #1cc88a;
}