.clear{
	clear: both;
}
.hide{
	display: none;
}
label{
	margin-bottom: .1rem !important;
  color: #3a3b45;
}

table.responsive {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  color: #3a3b45;
}
table.responsive tr {
  background: white;
  border-bottom: 1px solid
}
table.responsive th{
  padding: 10px 10px;
  font-size: 14px !important;
}
table.responsive td {
  padding: 5px 5px;
  font-size: 14px !important;
}

table.responsive td span {
  background: #eee;
  display: none;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}