
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon ">
      <i class="fas fa-file-medical-alt"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Zoom Next</div>

  </a>
  <div class="text-gray-100" style="font-size: 12px; text-align: center; font-weight: bold;">IP: 
    <%= request.remote_ip %>
  </div>
  <% if @current_user.station_name %>
    <div class="text-gray-100" style="font-size: 12px; text-align: center; font-weight: bold;">Puesto: <%= @current_user.station_name %></div>
  <% end %>
  <div class="text-gray-100" style="font-size: 12px; text-align: center; font-weight: bold; padding-bottom: 10px">
    Usuario: 
    <%= link_to @current_user.name, edit_user_path(@current_user.id), style: "color: #fff;" %>
  </div>
  
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item <%= params[:controller] == "entries" && params[:action] == "new" ? "active" : "" %>">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-folder-plus"></i>
      <span>Nuevo Ingreso</span></a>
  </li>
  
  
  <% if @current_user.has_role?(:supervisor) || @current_user.has_role?(:admin) %>
    <hr class="sidebar-divider my-0">
    <li class="nav-item <%= params[:controller] == "entries" && params[:action] == "index" ? "active" : "" %>">
      <a class="nav-link" href="/entries">
        <i class="fas fa-fw fa-search"></i>
        <span>Buscar Ingresos</span></a>
    </li>
  <% end %>

  <% if false %>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item <%= params[:controller] == "home" ? "active" : "" %>">
      <a class="nav-link" href="/home/index">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Estadisticas</span></a>
    </li>
    <!-- Divider -->
  <% end %>

  <% if @current_user.has_role?(:admin) %>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item <%= params[:controller] == "users" ? "active" : "" %>">
      <a class="nav-link" href="/users">
        <i class="fas fa-fw fa-users"></i>
        <span>Usuarios</span></a>
    </li>
    <!-- Divider -->
  <% end %>  

  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->
</ul>
