<!DOCTYPE html>
<html>
  <head>
    <title>Zoom Next - Ecua-american</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('audit.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval' => false %>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%= render 'layouts/sidebar'%>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%= render 'layouts/top_bar'%>
          <!-- End of Topbar -->
          <!-- Begin Page Content -->
          <% if notice %>
            <div class="container-fluid">
              <div class="alert alert-info" role="alert" id="notice">
                <%= notice %>
              </div>
            </div>
          <% end %>
          <%= yield %>
          <!-- End Page Content -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">

            <div class="copyright text-right my-auto">
              <span>Soporte: Ing. Gonzalo Molina ext 720</span><br/><br/>
              <span>Copyright &copy; Ecua-american 2020</span>
              
            </div>

            
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  <% if params[:controller] == "home" %>
    <script type="text/javascript" src="/assets/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
    <script type="text/javascript" src="/assets/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script>
  <% end %>

  <script type="text/javascript">
    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap"
    });
    if ($("#search_from").length > 0 ){
      var search_from = $("#search_from").flatpickr({
        enableTime: false,
        dateFormat: "Y-m-d",
      });  
    }
    
    if ($("#search_to").length > 0 ){
      var search_to = $("#search_to").flatpickr({
        enableTime: false,
        dateFormat: "Y-m-d",
      });
    }
  </script>
</html>
